@use "reset";

@font-face {
	font-family: "pockcalc";
	src: local("POCKC___.TTF");
	src: url(POCKC___.TTF);
}

.font {
	font-family: "pockcalc", "Courier New", Courier, monospace;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

#calc {
	background-color: hsl(138, 100%, 88%);
	border: 3px solid hsl(137, 100%, 84%);
	box-sizing: border-box;
	border-radius: 3px;
	width: 40%;
	height: 60%;
	min-width: 300px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1023px) {
	#calc {
		width: 80%;
		height: 90%;
	}
}

@media (max-width: 767px) {
	#calc {
		width: 100%;
		height: 100%;
	}
}

#display {
	background-color: hsl(202, 80%, 72%);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 3px;
	margin: 2%;
	padding-right: 10px;
	text-align: end;
	box-shadow: 0.5px 1px 1px 1px hsl(202, 43%, 57%);
	flex: 1 0 50px;
	font-size: 50px;
	max-height: 60px;
	box-sizing: border-box;
}

#displaytext {
	box-sizing: border-box;
}

#buttons {
	display: flex;
	flex: 1 1 400px;
	max-width: 100%;
	justify-content: center;
	box-sizing: border-box;
	box-sizing: border-box;
}

#digits {
	flex: 3 3 300px;
	max-width: 60%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	column-gap: 12px;
	row-gap: 12px;
	margin: 2%;
	margin-top: 12px;
	box-sizing: border-box;
}

#operators {
	flex: 2 2 200px;
	max-width: 40%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 5fr 5fr 2fr 4fr;
	column-gap: 12px;
	row-gap: 12px;
	margin-bottom: 2%;
	margin-right: 2%;
	margin-top: 12px;
	box-sizing: border-box;
}

@media (max-width: 767px) {
	#display {
		margin: 1%;
	}

	#digits {
		column-gap: 6px;
		row-gap: 6px;
		margin: 1%;
		margin-right: 3px;
	}

	#operators {
		column-gap: 6px;
		margin: 1%;
		row-gap: 6px;
	}
}

button {
	min-width: 3ch;
	max-width: 18vw;
	background-color: hsl(234, 79%, 68%);
	border: 1px solid hsl(234, 79%, 68%);
	font-size: 30px;
	font-family: Courier, monospace;
	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: 0.5px 1px 1px 1px hsl(234, 30%, 41%);
	display: flex;
	justify-content: center;
	align-items: center;
}

#backspace {
	min-width: 1ch;
	max-width: 3ch;
	font-size: 50px;
	color: hsl(240, 5%, 12%);
}

#equals {
	grid-column-start: 1;
	grid-column-end: 3;
	max-width: 38vw;
}

.repo {
	display: inline;
}
